pkgbase = powershell-bin
	pkgdesc = A cross-platform automation and configuration tool/framework (binary package)
	pkgver = 7.4.2
	pkgrel = 1
	url = https://github.com/Powershell/Powershell
	install = powershell.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = MIT
	depends = gcc-libs
	depends = glibc
	depends = zlib
	optdepends = lttng-ust2.12: CoreCLR tracing
	provides = powershell
	conflicts = powershell
	noextract = powershell-bin-7.4.2-1.tar.gz
	source_x86_64 = powershell-bin-7.4.2-1.tar.gz::https://github.com/Powershell/Powershell/releases/download/v7.4.2/powershell-7.4.2-linux-x64.tar.gz
	sha256sums_x86_64 = 36605dc37979de5af2e10783bf70c0ad8150521e81e6d7c9322036ebb897e7fe
	source_armv7h = powershell-bin-7.4.2-1.tar.gz::https://github.com/Powershell/Powershell/releases/download/v7.4.2/powershell-7.4.2-linux-arm32.tar.gz
	sha256sums_armv7h = 6bf11145e6d15ea8a89d9167bdcef0d75848462e4369c837fda37a6550d2dc5f
	source_aarch64 = powershell-bin-7.4.2-1.tar.gz::https://github.com/Powershell/Powershell/releases/download/v7.4.2/powershell-7.4.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 006021694a9e0ce962457d23189e3cb88ae030863b221907f8fb891df9497aeb

pkgname = powershell-bin
